neo4j==5.14.1
pandas==2.2.3
streamlit==1.28.1
plotly==5.17.0
networkx==3.2.1
numpy>=1.26.4,<2
rdkit-pypi
stmol
ipython-genutils
requests==2.31.0
google-generativeai==0.8.5
python-dotenv==1.0.0
gunicorn==21.2.0
